header
	.container
		.row
			.col.s12
				h1.center {{title}}
section
	.container
		.row
			.col.s12.m4
				.item.hoverable
					i.large.material-icons settings
					h5.grey-text.darken-4 Insertar Jugadores
					p Agregue nuevos jugadores al sistema para simular partidos.
			.col.s12.m4
				.item.hoverable
					i.large.material-icons mode_edit
					h5.grey-text.darken-4 Editar 
					p Edite la plantilla de los equipos y la informacion de los jugadores.
			.col.s12.m4
				.item.hoverable
					i.large.material-icons view_list
					h5.grey-text.darken-4 Visualizar
					p Visualize la informacion de los partidos y el calendario de los proximos juegos.