header
	.container
		.row
			.col.s12
				h1 {{title}}
				p.grey-text {{subtitle}}

section
	.container
		.row
			.col.s12.m12
				h5.center Listado de Jugadores
				table.table.bordered
					thead
						tr
							th Nombre
							th Posicion
							th Equipo
					tbody
						tr.hoverable(ng-repeat="x in players")
							td {{x.nombre}}
							td {{x.posicion}}
							td {{x.equipo.nombre}}
							td
								a.btn-floating.btn.waves-effect.waves-light.red(ng-click="remove(x)")
									i.material-icons remove

section
	.container
		.row
			form.col.s12.m12.grey-text
				h5.center Registro
				.row
					.input-field.col.s12.m6
						input#name(type="text", ng-model="nombre")
						label Nombre

					.input-field.col.s12.m6
						input#document(type="number", ng-model="documento")
						label Documento


				.row
					.input-field.col.s12.m6
						input#age(type="number", ng-model="edad")
						label Edad
					.input-field.col.s12.m6
						select(ng-model="teamSelected.nombre", material-select watch)
							option(ng-repeat="team in teams") {{team.nombre}}
						label Equipo


				.row
					.input-field.col.s12.m6
						select(ng-model="positionSelected", material-select watch)
							option(ng-repeat="pos in positions") {{pos}}
						label Posicion
				.row
					.col.s12
						button.btn.waves-effect.waves-light.right(type="submit", name="registrarJugador", ng-click="registrarJugador()") Registrar


