header
	.container
		.row
			.col.s12
				h1.center {{title}}
				p.center.grey-text {{subtitle}}

section
	.container
		.row
			.col.s12.m12
				h5.center Listado de Equipos
				table.table.bordered
					thead
						tr.teal-text.darken-5
							th Nombre
							th Tecnico
					tbody
						tr.hoverable(ng-repeat="x in teams")
							td.text1.teal-text.darken-4 {{x.nombre}}
							td.grey-text.darken-2 {{x.tecnico}}
							td
								a.btn-floating.btn.waves-effect.waves-light.red.darken-3(ng-click="remove(x)")
									i.material-icons remove
section
	.container
		.row
			form.col.s12.m12.grey-text.border
				h5.center Registro
				.row
					.input-field.col.s12.m6
						input#name(type="text", ng-model="nombre")
						label Nombre del equipo

					.input-field.col.s12.m6
						input#tecnico(type="text", ng-model="tecnico")
						label Director tecnico

				.row
					.input-field.col.s12.m12
						input#lema(type="text", ng-model="lema")
						label Lema

				.row
					.col.s12
						button.btn.waves-effect.waves-light.right(type="submit", name="registrarEquipo", ng-click="registrarEquipo()") Registrar
				

