footer.page-footer.teal.darken-3
		.container
			.row
				.col.s12.m6
					h5.white-text Footer
					p.black-text informacion del footer
		.footer-copyright
			.container
				© 2017 Copyright Todos los derechos reservados.