.navbar-fixed.hoverable
	nav.teal.darken-3
		.nav-wrapper
			a.brand-logo(href="#") Soccer
			a.button-collapse(href="#", data-activates="mobile-demo", data-closeonclick="false")
				i.material-icons menu
			ul#nav-mobile.right.hide-on-med-and-down
				li: a(href="/") Inicio
				li: a(href="#!/calendario") Calendario
				li: a.dropdown-button(href="#",  data-activates="dropdown-registrar") Registrar 
					i.material-icons.right arrow_drop_down
				ul#dropdown-registrar.dropdown-content
					li: a(href="#!/registrarJugador") Jugador
					li: a(href="#!/registrarEquipo") Equipo
					li: a(href="#!/registrarPartido") Partido
					li: a(href="#!/registrarArbitro") Arbitro

ul.side-nav#mobile-demo
	li: a(href="/") Inicio
	li: a(href="#!/calendario") Calendario
	li: a.dropdown-button(href="#",  data-activates="dropdown-registrar-side") Registrar 
		i.material-icons.right arrow_drop_down
	ul#dropdown-registrar-side.dropdown-content
		li: a(href="#") Jugador
		li: a(href="#") Equipo
		li: a(href="#") Colegiado
		li: a(href="#") Partido